<footer class="bg-light">
  <!--.footer-->
  <div class="container text-center">
    <div class="d-flex justify-content-center border-top">
      <!--id="footer" -->
      <div class="row w-100 justify-content-center">
        <div class="col-12 col-md-3">
          <p class="text-center">&copy; 2022 Desarrollo - Lucas Barbosa</p>
          <ul class="list-unstyled d-flex justify-content-center">
            <li class="">
              <a
                class="link-dark fs-2"
                href="https://github.com/barbosalucas278/estimadorStoryPoints"
                target="blank"
              >
                <i class="bi bi-github"></i>
              </a>
            </li>
            <li class="ms-3">
              <a
                class="link-dark fs-2"
                href="https://www.linkedin.com/in/lucas-barbosa/"
                target="blank"
              >
                <i class="bi bi-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-3">
          <p class="text-center">Idea y diseño - Elias Sanchez</p>
          <ul class="list-unstyled d-flex justify-content-center">
            <li class="">
              <a
                class="link-dark fs-2"
                href="https://www.linkedin.com/in/elias-sanchez-278bb7196/"
                target="blank"
              >
                <i class="bi bi-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-1">
          <p class="text-center text-md-end">v{{ version }}</p>
        </div>
      </div>
    </div>
  </div>
</footer>
