<div class="container-fluid h-100">
  <div
    *ngIf="!hasIniciado; else elseBlock"
    id="row-principal"
    class="row text-center justify-content-center h-100 aling-items-center"
  >
    <h2 class="h-25 mt-4 fs-4">Bienvenidos al estimador de tareas</h2>
    <button
      class="mb-3 btn btn-secondary col-4 col-md-5 col-sm-8 fw-bolder"
      (click)="iniciar()"
    >
      INICIAR
    </button>
  </div>
  <ng-template #elseBlock>
    <div
      *ngIf="!terminado; else terminadoBlock"
      id="row-principal"
      class="row text-center justify-content-center h-100 aling-items-center"
    >
      <app-consulta
        [pregunta]="preguntaActiva"
        (opcionElegidaEvent)="onOpcionelegida($event)"
      ></app-consulta>
    </div>
    <ng-template #terminadoBlock>
      <div
        id="row-principal"
        class="row text-center justify-content-center h-100 aling-items-center"
      >
        <app-resultado
          class="h-75 mt-3"
          [resultado]="puntosTotales"
        ></app-resultado>
        <button
          class="mb-3 btn btn-secondary col-6 col-lg-4 col-md-6 fw-bolder"
          (click)="resetearPuntaje()"
        >
          REINICIAR
        </button>
      </div>
    </ng-template>
  </ng-template>
</div>
