<mat-tree
  [dataSource]="dataSource"
  [treeControl]="treeControl"
  class="example-tree"
>
  <!-- This is the tree node template for leaf nodes -->
  <!-- There is inline padding applied to this node using styles.
    This padding value depends on the mat-icon-button width. -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
    <div class="row">
      <span>
        {{ node.name | textoLargo }}
        <i
          class="bi bi-pencil-fill text-warning fs-6 me-2"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasBottomPuntaje"
          (click)="handlerEditarPreguntaPuntaje(node)"
        ></i>
        <i class="bi bi-x-square-fill text-danger fs-6"></i>
      </span>
      <div
        class="row justify-content-end mb-2"
        *ngIf="
          !node.isChangeCamino &&
          !tienePreguntaCamino(node.camino) &&
          node.esOpcionCamino
        "
      >
        <span
          class="badge bg-primary col-4 me-3"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasBottom"
          aria-controls="offcanvasBottom"
          (click)="handlerPreguntaCamino(node.camino)"
          *ngIf="!maximoDeCaminosAlcanzada()"
        >
          Camino
        </span>
        <span
          class="badge bg-primary col-4"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasBottomPuntaje"
          aria-controls="offcanvasBottomPuntaje"
          (click)="handlerPreguntaPuntaje(node.camino)"
        >
          Puntaje
        </span>
      </div>
    </div>
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
    <div class="mat-tree-node row">
      <button
        mat-icon-button
        matTreeNodeToggle
        [attr.aria-label]="'Toggle ' + node.name"
        class="col-1"
      >
        <mat-icon class="mat-icon-rtl-mirror">
          {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
        </mat-icon>
      </button>
      <span class="col-10">
        {{ node.name | textoLargo }}
        <ng-container *ngIf="!node.esOpcionCamino">
          <i
            class="bi bi-pencil-fill text-warning fs-6 me-2"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasBottom"
            (click)="handlerEditarPreguntaCamino(node)"
          ></i>
          <i class="bi bi-x-square-fill text-danger fs-6"></i>
        </ng-container>
      </span>
      <div
        class="row justify-content-end mb-2"
        *ngIf="
          !node.isChangeCamino &&
          !tienePreguntaCamino(node.camino) &&
          node.esOpcionCamino
        "
      >
        <span
          class="badge bg-primary col-4 me-3"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasBottom"
          aria-controls="offcanvasBottom"
          (click)="handlerPreguntaCamino(node.camino)"
          *ngIf="!maximoDeCaminosAlcanzada()"
        >
          Camino
        </span>
        <span
          class="badge bg-primary col-4"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasBottomPuntaje"
          aria-controls="offcanvasBottomPuntaje"
          (click)="handlerPreguntaPuntaje(node.camino)"
        >
          Puntaje
        </span>
      </div>
    </div>
    <!-- There is inline padding applied to this div using styles.
          This padding value depends on the mat-icon-button width.  -->
    <div
      [class.example-tree-invisible]="!treeControl.isExpanded(node)"
      role="group"
    >
      <ng-container matTreeNodeOutlet></ng-container>
    </div>
  </mat-nested-tree-node>
</mat-tree>
