div.container {
  margin-top: 100px !important;
}
.texto-google {
  line-height: 60px;
  font-weight: 500;
  font-family: Roboto;
}
.contenedor-google {
  height: 60px;
  //   width: 400px;
}
.contenedor-google:hover {
  box-shadow: 0 0 0 !important;
}
img {
}
.img-login {
  background-repeat: no-repeat;
  background-size: contain;
}
.contenedor-logo {
  margin-top: 80px;
  margin-left: 60px;
}
