.contenedor-app {
  height: auto !important;
  margin: 0 auto -100px;
  min-height: 75%;
}
.box-footer {
  text-align: center;
  margin-top: -20px;
  color: white;
  text-shadow: 1px -1px 2px black;
}

#footer {
  flex-direction: column;
  align-items: center;
  padding-top: 1.5rem !important;
  margin-top: 1.5rem !important;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .container-fluid {
    padding: 0 !important;
  }
  .contenedor-app {
    height: auto;
    min-height: 100%;
    margin: 0 auto -320px;
  }
  .footer .push {
    height: 320px;
  }
}
