<div
  class="container-fluid mt-5"
  id="contenedor-app"
  [ngStyle]="{ 'background-image': 'url(' + imgBackground + ')' }"
>
  <app-estimador></app-estimador>
</div>
<p class="box-footer">{{ nombreSector }}</p>
<div class="container fixed-bottom">
  <footer class="">
    <div id="footer" class="d-flex justify-content-center border-top">
      <p>&copy; 2022 Lucas Barbosa v{{ version }}</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3">
          <a
            class="link-dark fs-2"
            href="https://github.com/barbosalucas278/estimadorHistoryPoints"
            target="blank"
          >
            <i class="bi bi-github"></i>
          </a>
        </li>
        <li class="ms-3">
          <a
            class="link-dark fs-2"
            href="https://www.linkedin.com/in/lucas-barbosa/"
            target="blank"
          >
            <i class="bi bi-linkedin"></i>
          </a>
        </li>
      </ul>
    </div>
  </footer>
</div>
