<div class="row justify-content-center">
  <form [formGroup]="form" (ngSubmit)="finalizar()">
    <div class="form-floating mb-2">
      <input
        id="texto"
        type="text"
        class="form-control"
        placeholder="Pregunta"
        formControlName="texto"
      />
      <label for="texto" class="ms-2">Ingrese una pregunta de camino</label>
    </div>
    <div
      class="form-floating mb-2"
      *ngFor="let opcion of newPreguntaCamino!.opciones"
    >
      <input
        type="text"
        class="form-control"
        formControlName="camino{{ opcion.opcionId }}"
        placeholder="Camino {{ opcion.opcionId }}"
      />
      <label for="camino{{ opcion.opcionId }}" class="ms-2"
        >Opción {{ opcion.opcionId }}</label
      >
    </div>
    <button
      type="submit"
      class="btn btn-success col-12 text-light mt-2"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
      [disabled]="!form.valid"
    >
      Finalizar
    </button>
  </form>
  <div
    class="alert alert-danger col-10 mt-2 fw-bolder"
    role="alert"
    *ngIf="showError"
  >
    {{ mensajeDeError }}
  </div>
</div>
