#contenedor-puntaje {
  height: 270px;
  width: 90%;
}
.badge {
  left: 60% !important;
}
p {
  font-size: 120px;
}
textarea {
  resize: none;
  height: 100px;
}
.contenedor-botones-puntaje {
  height: 100px;
  i {
    font-size: 67px;
  }
}
